{% extends 'base.html.Twig' %}

{% block body %}
<div class="container titre_contact">
    <h1> Merci d'avoir choisis YonneAutos </h1>
</br>
    {{ form_start(contact_add) }}

    {{ form_row(contact_add.nom) }}

    {{ form_row(contact_add.prenom) }}

    {{ form_row(contact_add.telephone) }}

    {{ form_row(contact_add.message) }}

    {{ form_row(contact_add.Sauvgarder) }}
    
    {{ form_end(contact_add) }}
</div>

{% endblock %}