{% extends 'base.html.twig' %}

{% block body %}

<h1 style="text-align:center;">Recapitulatif de vos informations</h1> 

<div class="container confirmation">
    <div style="text-align:center;">
        <p class="lead">{{ user_registred.getServicesForm.DemandeEnLigne }}</p>
        <p class="lead">{{ user_registred.nom }}</p>
        <p class="lead">{{ user_registred.prenom }}</p>
        <p class="lead">{{ user_registred.telephone }}</p>
        <p class="lead">{{ user_registred.message }}</p>
    </div>
</div>

{% endblock %}