{% extends 'base.html.twig' %}

{% block title %}Garage Auxerre 89{% endblock %}
{% block body %}

{% block javascript %}
    <script src="http://www.steadness.com/particles.js"></script>
    <script src="http://www.steadness.com/options-particles.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
{% endblock %}
<script>
    jQuery(document).ready(function($) {
        $("#slider-wrapper").transitionSlider({
            slides: [
                { src: "../../1.jpg" },
                { src: "../../2.jpg" },
                { src: "../../3.jpg" },
            ],
            delay : 3,
            width: 590,
            height: 213,
            responsive: true,
            keyboard: {
                enabled: true
            },
            pagination: {
                style: "effect5",
                dynamicBullets: true,
                clickable: true,
            }
        });
    });
</script>

<div id="slider-wrapper"></div>


<!-- Body -->


<div class="card-header bg-info mb-3 container-fluide">
    <div class="card-body" style="margin-top: -64px;margin-left: -7px;padding-top: 66px;padding-bottom: 58px">
        <div class="head-title">
            <h4 class="card-title" style="text-align:center;">Yonne Autos</h4>
            <p class="card-text description-entreprise" style="text-align:center;">Un professionnalisme sans égales</p>
            </br>
            <div class="container"> 
                <div class="row block_annonce" style="color:white;"> 
                    <div class="col-md-6" style="text-align: left;font-size: 20px;">
                        <p style="font-size: 45px;">
                            On vous propose un service de qualité et un accueil personnalisé.</br>
                            Et entretenir un meilleure échange afin de trouver la solution la plus adapté à vos besoins.<br/>
                        </p>
                        <p style="margin-top: 20px;">
                            Disponible et à l'écoute, notre équipe de professionnels vous offre des conseils personnalisés
                            pour garantir la durabilité de votre véhicule et votre sécurité.</p></br>
                        </p> 
                        <p class="margin-top:  20px;">Besoin de faire la vidange de votre véhicule ?
                            Nos mécaniciens interviennent sur tous types de véhicules légers.</br><hr> La vidange est importante, car elle contribue au bon fonctionnement de celui-ci. </p></br>
                    </div><br/>
                    <div class="col-md-6 adresse">
                        <p>
                            Adresse<br/>
                            59 Av charles de gaulles<br/> 
                            89000 Auxerre,</br>
                            Téléphone : 06.67.11.22.33
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nos services -->

<div class="container-fluide block_div" style="margin-left: 5em;"> 
    <h1> Nos engagements </h1>
    <p> Une assistance 24/7 </p>
    <div class="row block_annonces" style="width: 90em;">
        <div class="col-md-4"> Test </div>
        <div class="col-md-4"> Test </div>
        <div class="col-md-4"> Test </div>
    </div>
</div>

<!-- /.Annonces  -->

<!-- Contact -->

<div class="container footer" style="margin-top: 10em;">
    <div class="row background_maps">
        <div class="col-md-6 maps_size" style="padding:0;">
            <div class="maps">
            <!--Google map-->
            <div class="z-depth-1-half map-container" id="map-container-google-1" style="height: 20em;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1339.543286176797!2d3.58550206738075!3d47.818539830945866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ee4f18e41691e3%3A0xf9e8f038ae1f809e!2s59+Avenue+Charles+de+Gaulle%2C+89000+Auxerre!5e0!3m2!1sen!2sfr!4v1554954775925!5m2!1sen!2sfr" width="600" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!--Google Maps-->
            </div>
        </div>
        <div class="col-md-6 adresse" style="background-color: #6c757d;">
            <h1 style="color:white;font-size:20px;">Nous situer</h1>
            <span style="color:#dee2e6;">Adresse: 58 Av charles de gaules</br></span>
            <span style="color:#dee2e6;">Code postale: 89000 </br></span></br>
            <span style="color:#dee2e6;"> Telephone : <a href="tel:0667112233" style="color:white;"> 06 67 11 22 33</a> 
            </span></br> 
            <div class="container news_situer">
                <span class="newsletter"><button class="btn btn-success" data-target="#boite_dialogue1" data-toggle="modal" type="button" style="margin-top:10px;">Annonces Voitures</button></span>
                <span class="newsletter"><button type="button" class="btn btn-info newsletter" data-toggle="modal" data-target="#boite_dialogue" style="color:white;"> Demande en ligne </button></span>
                <span class="newsletter"><button href="#nos-pack" class="btn btn-primary newsletter" style="text-align:right;margin-top:10px;"> Découvrir nos packs </button></span>
            </div>
        </div>
    </div>
</div>

<div id="particles-js"> </div>

<!-- /.Contact -->

{# <div class="container">
</br>
    <h1> S'inscrire à la newsletter </h1>

    <p> Nos offres vous intéresse ? <p>


    {{ form_start(form_index) }}

    {{ form_label(form_index.email, 'Renseigner votre e-mail pour être informer de nos actualités')}}

    {{ form_widget(form_index.email) }}

    {{ form_widget(form_index.valider)}}

    {{ form_end(form_index) }}
</div> #}

<!-- Info pratique -->


{# <div id="info-pratique">
Info pratique , conseils d'utilisations et ou de réparations
</div> #}

<!-- Contact0 -->

<!-- /. Nos Services -->

<!-- Annonces(Nos Offres) -->


<div id="contact">
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="boite_dialogueLabel" class="modal fade" id="boite_dialogue1" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="boite_dialogueLabel">Annonces voitures en attente de confirmation.
                    </h5>
                    <div class="container">
                        <h1 id="nos-offres">Annonces voitures</h1>
                        <hr>
                    </div>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-group">
                <div class="container container-all">
                {% for annonces_view in annonces_views %}
                    <div class="block_annonces">
                        <div class="row">
                            <div class="col-md-6 caractéristique">
                                <h1 class="titre_annonces"> {{ annonces_view.titre }} </h1>
                                <div class="annonces_img">{{ annonces_view.img }}</div>
                                <div>
                                    <span class=""> Anne :  {{ annonces_view.annee }}</span></br>
                                    <span class=""> Energie : {{ annonces_view.energie }}</span></br>
                                    <span class=""> Kilometrage : {{ annonces_view.kilometrage }}</span></br>
                                    <span class="fas fa-compact-disc"> CT: {{ annonces_view.ct }} </span></br>
                                    <a href="#id-annonce" class="btn btn-primary"> Voir annonces </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Retour</button>
                <span>{{ form_end(form_index) }}
                </span>
            </div>
        </div>
    </div>
</div>
<!-- /.Annonces(Nos Offres) -->

<!-- Footer -->

<div class="container footer">
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-size: 2.5rem;"> Galerie </h1>
            <div class="img-box">
                <div>
                    <img src="https://png2.kisspng.com/sh/17024a4fdbf0db9c1cc0a38f5d5b3d46/L0KzQYm3VsI3N6Z8i5H0aYP2gLBuTfF3aaVmip9Ac3X1PbT2jgB2fJZ3Rdtsb372PcT2hwR4aaNqRdZudnXvf8Hskr02amQ3T9VsOXPmQYbtV745P2M8SqkDMEG4Q4G3U8U1OGI9S6g3cH7q/kisspng-avatar-user-computer-icons-software-developer-5b327cc9cc15f7.872727801530035401836.png" width="100" height="100"> 
                </div>
                <div>
                    <img height="100" src="https://png2.kisspng.com/sh/17024a4fdbf0db9c1cc0a38f5d5b3d46/L0KzQYm3VsI3N6Z8i5H0aYP2gLBuTfF3aaVmip9Ac3X1PbT2jgB2fJZ3Rdtsb372PcT2hwR4aaNqRdZudnXvf8Hskr02amQ3T9VsOXPmQYbtV745P2M8SqkDMEG4Q4G3U8U1OGI9S6g3cH7q/kisspng-avatar-user-computer-icons-software-developer-5b327cc9cc15f7.872727801530035401836.png" width="100"> 
                </div>
                <div>
                <img height="100" src="https://png2.kisspng.com/sh/17024a4fdbf0db9c1cc0a38f5d5b3d46/L0KzQYm3VsI3N6Z8i5H0aYP2gLBuTfF3aaVmip9Ac3X1PbT2jgB2fJZ3Rdtsb372PcT2hwR4aaNqRdZudnXvf8Hskr02amQ3T9VsOXPmQYbtV745P2M8SqkDMEG4Q4G3U8U1OGI9S6g3cH7q/kisspng-avatar-user-computer-icons-software-developer-5b327cc9cc15f7.872727801530035401836.png" width="100"></div>
            </div>
        </div>
        <div class="container-fluide col-md-6 titre_pratique" style="background-color: #363636;">
            <h1> Infos pratique </h1>
            <div class="row">
                <div class="col-md-6" style="background-color: #607d8b;">
                    <div width="100" height="100"></div>
                </div>
                <div class="col-md-6 right" style="background-color: lightgray;">
                    <span style="background-color: lightgray;" height="250px;"> Test </span>                
                </div>
            </div>
        </div>
    </div>
</div>
                                

{% endblock %}
