{% extends 'base.html.twig' %}

{% block title %}Garage Auxerre 89{% endblock %}


{% block body %}


<div class="seq" id="sequence">
    <div class="seq-bg"></div>
    <div class="seq-screen">
        <ul class="seq-canvas">
            <li class="seq-in seq-valign">
                <div class="seq-content">
                    <h2 class="seq-title" data-seq>Test : titre</h2>
                    <div class="seq-description" data-seq>
                        <p>Lorem ipsum dolor set amet</p>
                        <a class="seq-button" href="#">En savoir plus
                            <span class="seq-next-arrow">&gt;</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="seq-valign">
                <div class="seq-content">
                    <h2 class="seq-title" data-seq>Test : titre</h2>
                    <div class="seq-description" data-seq>
                        <p>For sliders, presentations,
                        <br/>Lorem ipsum dolor set amet</p>
                        <a class="seq-button" href="#">En savoir plus
                            <span class="seq-next-arrow">&gt;</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="seq-valign">
                <div class="seq-content">
                    <h2 class="seq-title" data-seq>Test: titre</h2>
                    <div class="seq-description" data-seq>
                        <p>All of the JavaScript functionality you need built-in</p>
                        <a class="seq-button" href="#">En savoir plus
                            <span class="seq-next-arrow">&gt;</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <fieldset aria-controls="sequence" aria-label="Slider buttons" class="seq-nav">
        <button aria-label="Previous" class="seq-prev" type="button">
            <span class="seq-prev-arrow">&lt;</span>
        </button>
        <ul aria-label="Pagination" class="seq-pagination" role="navigation">
            <li>
                <a href="#step1" rel="step1" title="Go to slide 1">1</a>
            </li>
            <li>
                <a href="#step2" rel="step2" title="Go to slide 2">2</a>
            </li>
            <li>
                <a href="#step3" rel="step3" title="Go to slide 3">3</a>
            </li>
        </ul>
        <button aria-label="Next" class="seq-next" type="button">
            <span class="seq-next-arrow">&gt;</span>
        </button>
    </fieldset>
</div>

<div class="card-header bg-info mb-3" id="titre-entreprise">
    <div class="card-body" id="titre_entreprise">
        <div class="head-title">
            <h4 class="card-title" id="titre-entreprise">Yonne Autos</h4>
            <p class="card-text description-entreprise">Un professionnalisme sans égales</p>
            </br>
        </div>
    </div>
</div>

{# include 'home/add_contact.html.twig' with ('getUserIndex':'id') #}


<div class="card text-white bg-primary mb-3" style="margin-top:-50px;" id="a-propos">
    <div class="container">
        <div class="row">
            <div class="col-md-6 histoire_mob" style="font-size:25px;">
                <div class="card-body">
                    <h4 class="card-title">Notre histoire</h4>
                    <p class="card-text">Le garage Yonne autos a ouvert ses portes en 2017.
                        Nous mettons un point d'honneur à respecter les méthodes et procédures a suivre. </p>
                    <p>Nous vous invitons à découvrir plus en détail toutes nos prestations. Nous vendons des véhicules neufs et d'occasion.</p>  
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-dark mb-3 adresse_mob" style="font-size:25px;">
                    <div class="card-header"><i class="fas fa-home">Nous situer</i></div>
                        <div class="card-body">
                            <h4 class="card-title">59 Av charles de gaules, 89000</h4>
                            <p class="card-text">Telephone : 06 67 11 22 33</p>
                            <div id="contact"> 
                               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#boite_dialogue"> Demande en ligne </button>
                                <!-- Modal -->
                                <div class="modal fade" id="boite_dialogue" tabindex="-1" role="dialog" aria-labelledby="boite_dialogueLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="boite_dialogueLabel">Pourquoi nous contactez vous ? </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body form-group">
                                        <span>{{ form_start(form_index) }}</span>
                                        <span> Nos Horaires d'ouverture </span>
                                        <span> {{ form_widget(form_index.ouvertures)}}</span></br>
                                        <span> Découvrez nos différents services </span>
                                        <span>{{ form_widget(form_index.DemandeEnLigne) }} </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                        <a> {{ form_widget(form_index.Suivant)}} </a>
                                        <span>{{ form_end(form_index) }} </span>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <a href="#nos-pack" class="btn btn-primary" style="margin-top: 10px;text-align:right;"> Découvrir nos packs </a>
                                <a href="#contact" class="btn btn-info" style="margin-top: 10px;"> Nous contacter </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nos services -->
<div class="container" id="nos-services">
    <div class="nos-services" style="text-align:center;margin-left:2px;height:50em;" id="nos-pack">
        <h1 style="text-align:center;margin-top: 50px;">Nos packs </h1></br>
        <div class="row nos-pack" style="height:35em;">
            <div class="col-md-4">
                <h1 class="titre-up"> Simplicité  </h1>
                <span>Pour une intervention </span>
                <hr>
                <div class="basic">
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                </div> 
                <section class="prix"> 40 € </br></section>
                <a href="#contact" class="btn btn-success" style="margin-top:96px;margin-bottom:10px;">Pack basic</a>
            </div>
            <div class="col-md-4">
            <h1 class="titre-up"> Rapidité  </h1>
            <span> Pour un meilleure service </span>
            <hr>
                <div class="confort"> 
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                </div> 
                <section class="prix"> 40 € </br></section>
                <a href="#contact" class="btn btn-success" style="margin-top:96px;margin-bottom:10px;">Pack confort</a>
            </div>
            <div class="col-md-4">
            <h1 class="titre-up"> Efficacité </h1>
            <span> Assistance 24/7 </span>
            <hr>
                <div class="Assistance"> 
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                    <p> Description</p>
                </div> 
                <section class="prix"> 40 € </br></section>
                <a href="#contact" class="btn btn-success" style="margin-top:96px;margin-bottom:10px;">Pack Assistance</a>
            </div>
        </div>
    </div>
</div>


<!-- /. Nos Services -->

<!-- Annonces(Nos Offres) -->


<h1 class="container" id="nos-offres">Annonces Autos</h1>
<div class="container-all">
    {% for annonces_view in annonces_views %}
    <div class="annonces_img"><div class="block"></div></div> 
    <div class="container description-line">
        <div class="row">
        <div class="col-md-4">
            <h1 class="titre_annonces"> {{ annonces_view.titre }} </h1>
                <div class="description_annonces">
                    <span class="fas fa-cogs">{{ annonces_view.kilometrage }}</span>
                    <span class="fas fa-car">{{ annonces_view.energie }}</span>
                    <span class="fas fa-compact-disc"> CT: {{ annonces_view.ct }} </span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    </div>
</div>
</div>
<!-- /.Annonces  -->

<!-- Contact(Contact) -->



<div class="container-all" id="choicecontact">
   Choix de la demande de contact
</div>

<!-- /.Contact  -->

<!-- Info pratique -->
<div id="info-pratique">
Info pratique , conseils d'utilisations et ou de réparations
</div>

<!-- -->

<!-- Contact0 -->

{{ form_start(form_index) }}
{{ form_row(form_index.DemandeEnLigne) }}
{{ form_end (form_index)}}

<!-- ./ -->


                                

{% endblock %}
